<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Saludo</title>
  </head>
  <body>
    {{#if nombre}}
      <h1>¡Hola, {{nombre}}!</h1>
    {{else}}
      <h1>¡Hola!</h1>
    {{/if}}
  </body>
</html>